<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FINALPROJECT">
        <activity android:name=".StockActivity"></activity>
        <activity android:name=".PlatilloActivity" />
        <activity android:name=".AgregarRecetaActivity" />
        <activity android:name=".IngredientesActivity" />
        <activity android:name=".EmpleadoActivity" />
        <activity android:name=".MesasActivity" />
        <activity android:name=".ComandaActivity" />
        <activity android:name=".RecetarioActivity" />
        <activity android:name=".CerrarSesionActivity" />
        <activity android:name=".AsignacionMesaAdmiActivity3" />
        <activity android:name=".AsignacionMesaAdmiActivity2" />
        <activity android:name=".AsignacionMesasAdmiActivity" />
        <activity android:name=".MesasAsignadasMeseroActivity" />
        <activity android:name=".CrudEmpleadoActivity" />
        <activity android:name=".MeseroRelacionGananciaActivity" />
        <activity android:name=".ReportesAdminActivity" />
        <activity android:name=".MenuEmpleadoActivity">

        </activity>
        <activity android:name=".ModificarEmpleado" />
        <activity android:name=".MenuAdministr" >

        </activity>
        <activity android:name=".InterfazRegistroEmpleado" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>